ControlMaster auto
#ControlPath /tmp/%r@%h:%p
ControlPersist yes
UserKnownHostsFile /dev/null
CheckHostIP no
StrictHostKeyChecking no

Host web
    HostName 35.203.148.19
    ProxyCommand           none
    IdentityFile ~/.ssh/google_compute_engine
    UserKnownHostsFile=/dev/null
    CheckHostIP=no
    StrictHostKeyChecking=no

Host *
    #ProxyCommand ssh -q -A jump_host -W %h:%p
    IdentityFile ~/.ssh/google_compute_engine
    UserKnownHostsFile=/dev/null
    CheckHostIP=no
    StrictHostKeyChecking=no
